In [1]:
import pandas as pd
import numpy as np

In [28]:
nfl_data = pd.read_csv("NFL_Data_Cleaned.csv")

/Users/akashponugoti/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (43,167,168,169,170,175,176,179,180,183,184,189,190,191,192,195,196,204,205,206,219,220,221,227,228,232,233,234,239,241,242,250) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [29]:
df = nfl_data.drop(columns = ['Unnamed: 0'])

In [30]:
df.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [31]:
print(len(df))
print(df.head())

449371
   play_id     game_id home_team away_team posteam posteam_type defteam  \
0       46  2009091000       PIT       TEN     PIT         home     TEN
1       68  2009091000       PIT       TEN     PIT         home     TEN
2       92  2009091000       PIT       TEN     PIT         home     TEN
3      113  2009091000       PIT       TEN     PIT         home     TEN
4      139  2009091000       PIT       TEN     PIT         home     TEN

  side_of_field  yardline_100   game_date  ...  penalty_player_id  \
0           TEN          30.0  2009-09-10  ...                NaN
1           PIT          58.0  2009-09-10  ...                NaN
2           PIT          53.0  2009-09-10  ...                NaN
3           PIT          56.0  2009-09-10  ...                NaN
4           PIT          56.0  2009-09-10  ...                NaN

   penalty_player_name  penalty_yards replay_or_challenge  \
0                  NaN            NaN                   0
1                  NaN            NaN                   0
2                  NaN            NaN                   0
3                  NaN            NaN                   0
4                  NaN            NaN                   0

   replay_or_challenge_result  penalty_type  defensive_two_point_attempt  \
0                         NaN           NaN                          0.0
1                         NaN           NaN                          0.0
2                         NaN           NaN                          0.0
3                         NaN           NaN                          0.0
4                         NaN           NaN                          0.0

   defensive_two_point_conv  defensive_extra_point_attempt  \
0                       0.0                            0.0
1                       0.0                            0.0
2                       0.0                            0.0
3                       0.0                            0.0
4                       0.0                            0.0

   defensive_extra_point_conv
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0

[5 rows x 255 columns]

In [34]:
df["play_type"]

0          kickoff
1             pass
2              run
3             pass
4             punt
            ...
449366        pass
449367        pass
449368        pass
449369    qb_kneel
449370         NaN
Name: play_type, Length: 449371, dtype: object

In [38]:
len(df["play_type"].str.contains("pass"))

449371

In [45]:
len(df[~df["play_type"].str.contains("pass")])

TypeError: bad operand type for unary ~: 'float'