In [7]:
import pandas as pd
import numpy as np

In [2]:
nfl_data = pd.read_csv("NFLPlaybyPlay.csv")

/Users/akashponugoti/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
nfl_data.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [4]:
missing_vals = nfl_data.isnull().sum()
missing_vals[0:20]

play_id                          0
game_id                          0
home_team                        0
away_team                        0
posteam                      13242
posteam_type                 12879
defteam                      12879
side_of_field                  600
yardline_100                 13070
game_date                        0
quarter_seconds_remaining      141
half_seconds_remaining         165
game_seconds_remaining         163
game_half                        0
quarter_end                      0
drive                            0
sp                               0
qtr                              0
down                         67962
goal_to_go                   12707
dtype: int64

In [8]:
total_cells = np.product(nfl_data.shape)
total_cells

114589605

In [9]:
nfl_data.shape

(449371, 255)

In [12]:
total_missing = missing_vals.sum()
total_missing

44121484

In [10]:
449371*255

114589605

In [13]:
percent_missing = (total_missing / total_cells) * 100 
percent_missing

38.50391490571942

In [15]:
nfl_data.dropna()

Empty DataFrame
Columns: [play_id, game_id, home_team, away_team, posteam, posteam_type, defteam, side_of_field, yardline_100, game_date, quarter_seconds_remaining, half_seconds_remaining, game_seconds_remaining, game_half, quarter_end, drive, sp, qtr, down, goal_to_go, time, yrdln, ydstogo, ydsnet, desc, play_type, yards_gained, shotgun, no_huddle, qb_dropback, qb_kneel, qb_spike, qb_scramble, pass_length, pass_location, air_yards, yards_after_catch, run_location, run_gap, field_goal_result, kick_distance, extra_point_result, two_point_conv_result, home_timeouts_remaining, away_timeouts_remaining, timeout, timeout_team, td_team, posteam_timeouts_remaining, defteam_timeouts_remaining, total_home_score, total_away_score, posteam_score, defteam_score, score_differential, posteam_score_post, defteam_score_post, score_differential_post, no_score_prob, opp_fg_prob, opp_safety_prob, opp_td_prob, fg_prob, safety_prob, td_prob, extra_point_prob, two_point_conversion_prob, ep, epa, total_home_epa, total_away_epa, total_home_rush_epa, total_away_rush_epa, total_home_pass_epa, total_away_pass_epa, air_epa, yac_epa, comp_air_epa, comp_yac_epa, total_home_comp_air_epa, total_away_comp_air_epa, total_home_comp_yac_epa, total_away_comp_yac_epa, total_home_raw_air_epa, total_away_raw_air_epa, total_home_raw_yac_epa, total_away_raw_yac_epa, wp, def_wp, home_wp, away_wp, wpa, home_wp_post, away_wp_post, total_home_rush_wpa, total_away_rush_wpa, total_home_pass_wpa, total_away_pass_wpa, air_wpa, yac_wpa, ...]
Index: []

[0 rows x 255 columns]

In [16]:
cols_with_NaN_dropped = nfl_data.dropna(axis=1)
cols_with_NaN_dropped.head()

,play_id,game_id,home_team,away_team,game_date,game_half,quarter_end,drive,sp,qtr,...,total_away_pass_wpa,total_home_comp_air_wpa,total_away_comp_air_wpa,total_home_comp_yac_wpa,total_away_comp_yac_wpa,total_home_raw_air_wpa,total_away_raw_air_wpa,total_home_raw_yac_wpa,total_away_raw_yac_wpa,replay_or_challenge
0,46,2009091000,PIT,TEN,2009-09-10,Half1,0,1,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,68,2009091000,PIT,TEN,2009-09-10,Half1,0,1,0,1,...,-0.004655,-0.028383,0.028383,0.033038,-0.033038,-0.028383,0.028383,0.033038,-0.033038,0
2,92,2009091000,PIT,TEN,2009-09-10,Half1,0,1,0,1,...,-0.004655,-0.028383,0.028383,0.033038,-0.033038,-0.028383,0.028383,0.033038,-0.033038,0
3,113,2009091000,PIT,TEN,2009-09-10,Half1,0,1,0,1,...,0.044921,-0.028383,0.028383,0.033038,-0.033038,0.081542,-0.081542,-0.126463,0.126463,0
4,139,2009091000,PIT,TEN,2009-09-10,Half1,0,1,0,1,...,0.044921,-0.028383,0.028383,0.033038,-0.033038,0.081542,-0.081542,-0.126463,0.126463,0

In [18]:
cols_with_NaN_dropped.columns.size

50

In [19]:
cols_with_NaN_dropped.columns

Index(['play_id', 'game_id', 'home_team', 'away_team', 'game_date',
       'game_half', 'quarter_end', 'drive', 'sp', 'qtr', 'ydstogo', 'ydsnet',
       'shotgun', 'no_huddle', 'qb_kneel', 'qb_spike', 'qb_scramble',
       'home_timeouts_remaining', 'away_timeouts_remaining',
       'total_home_score', 'total_away_score', 'extra_point_prob',
       'two_point_conversion_prob', 'total_home_epa', 'total_away_epa',
       'total_home_rush_epa', 'total_away_rush_epa', 'total_home_pass_epa',
       'total_away_pass_epa', 'total_home_comp_air_epa',
       'total_away_comp_air_epa', 'total_home_comp_yac_epa',
       'total_away_comp_yac_epa', 'total_home_raw_air_epa',
       'total_away_raw_air_epa', 'total_home_raw_yac_epa',
       'total_away_raw_yac_epa', 'total_home_rush_wpa', 'total_away_rush_wpa',
       'total_home_pass_wpa', 'total_away_pass_wpa', 'total_home_comp_air_wpa',
       'total_away_comp_air_wpa', 'total_home_comp_yac_wpa',
       'total_away_comp_yac_wpa', 'total_home_raw_air_wpa',
       'total_away_raw_air_wpa', 'total_home_raw_yac_wpa',
       'total_away_raw_yac_wpa', 'replay_or_challenge'],
      dtype='object')

In [20]:
nfl_data.columns.size

255

In [21]:
for i in range (255):
    print(nfl_data.columns[i])

play_id
game_id
home_team
away_team
posteam
posteam_type
defteam
side_of_field
yardline_100
game_date
quarter_seconds_remaining
half_seconds_remaining
game_seconds_remaining
game_half
quarter_end
drive
sp
qtr
down
goal_to_go
time
yrdln
ydstogo
ydsnet
desc
play_type
yards_gained
shotgun
no_huddle
qb_dropback
qb_kneel
qb_spike
qb_scramble
pass_length
pass_location
air_yards
yards_after_catch
run_location
run_gap
field_goal_result
kick_distance
extra_point_result
two_point_conv_result
home_timeouts_remaining
away_timeouts_remaining
timeout
timeout_team
td_team
posteam_timeouts_remaining
defteam_timeouts_remaining
total_home_score
total_away_score
posteam_score
defteam_score
score_differential
posteam_score_post
defteam_score_post
score_differential_post
no_score_prob
opp_fg_prob
opp_safety_prob
opp_td_prob
fg_prob
safety_prob
td_prob
extra_point_prob
two_point_conversion_prob
ep
epa
total_home_epa
total_away_epa
total_home_rush_epa
total_away_rush_epa
total_home_pass_epa
total_away_pass_epa
air_epa
yac_epa
comp_air_epa
comp_yac_epa
total_home_comp_air_epa
total_away_comp_air_epa
total_home_comp_yac_epa
total_away_comp_yac_epa
total_home_raw_air_epa
total_away_raw_air_epa
total_home_raw_yac_epa
total_away_raw_yac_epa
wp
def_wp
home_wp
away_wp
wpa
home_wp_post
away_wp_post
total_home_rush_wpa
total_away_rush_wpa
total_home_pass_wpa
total_away_pass_wpa
air_wpa
yac_wpa
comp_air_wpa
comp_yac_wpa
total_home_comp_air_wpa
total_away_comp_air_wpa
total_home_comp_yac_wpa
total_away_comp_yac_wpa
total_home_raw_air_wpa
total_away_raw_air_wpa
total_home_raw_yac_wpa
total_away_raw_yac_wpa
punt_blocked
first_down_rush
first_down_pass
first_down_penalty
third_down_converted
third_down_failed
fourth_down_converted
fourth_down_failed
incomplete_pass
interception
punt_inside_twenty
punt_in_endzone
punt_out_of_bounds
punt_downed
punt_fair_catch
kickoff_inside_twenty
kickoff_in_endzone
kickoff_out_of_bounds
kickoff_downed
kickoff_fair_catch
fumble_forced
fumble_not_forced
fumble_out_of_bounds
solo_tackle
safety
penalty
tackled_for_loss
fumble_lost
own_kickoff_recovery
own_kickoff_recovery_td
qb_hit
rush_attempt
pass_attempt
sack
touchdown
pass_touchdown
rush_touchdown
return_touchdown
extra_point_attempt
two_point_attempt
field_goal_attempt
kickoff_attempt
punt_attempt
fumble
complete_pass
assist_tackle
lateral_reception
lateral_rush
lateral_return
lateral_recovery
passer_player_id
passer_player_name
receiver_player_id
receiver_player_name
rusher_player_id
rusher_player_name
lateral_receiver_player_id
lateral_receiver_player_name
lateral_rusher_player_id
lateral_rusher_player_name
lateral_sack_player_id
lateral_sack_player_name
interception_player_id
interception_player_name
lateral_interception_player_id
lateral_interception_player_name
punt_returner_player_id
punt_returner_player_name
lateral_punt_returner_player_id
lateral_punt_returner_player_name
kickoff_returner_player_name
kickoff_returner_player_id
lateral_kickoff_returner_player_id
lateral_kickoff_returner_player_name
punter_player_id
punter_player_name
kicker_player_name
kicker_player_id
own_kickoff_recovery_player_id
own_kickoff_recovery_player_name
blocked_player_id
blocked_player_name
tackle_for_loss_1_player_id
tackle_for_loss_1_player_name
tackle_for_loss_2_player_id
tackle_for_loss_2_player_name
qb_hit_1_player_id
qb_hit_1_player_name
qb_hit_2_player_id
qb_hit_2_player_name
forced_fumble_player_1_team
forced_fumble_player_1_player_id
forced_fumble_player_1_player_name
forced_fumble_player_2_team
forced_fumble_player_2_player_id
forced_fumble_player_2_player_name
solo_tackle_1_team
solo_tackle_2_team
solo_tackle_1_player_id
solo_tackle_2_player_id
solo_tackle_1_player_name
solo_tackle_2_player_name
assist_tackle_1_player_id
assist_tackle_1_player_name
assist_tackle_1_team
assist_tackle_2_player_id
assist_tackle_2_player_name
assist_tackle_2_team
assist_tackle_3_player_id
assist_tackle_3_player_name
assist_tackle_3_team
assist_tackle_4_player_id
assist_tackle_4_player_name
assist_tackle_4_team
pass_defense_1_player_id
pass_defense_1_player_name
pass_defense_2_player_id
pass_defense_2_player_name
fumbled_1_team
fumbled_1_player_id
fumbled_1_player_name
fumbled_2_player_id
fumbled_2_player_name
fumbled_2_team
fumble_recovery_1_team
fumble_recovery_1_yards
fumble_recovery_1_player_id
fumble_recovery_1_player_name
fumble_recovery_2_team
fumble_recovery_2_yards
fumble_recovery_2_player_id
fumble_recovery_2_player_name
return_team
return_yards
penalty_team
penalty_player_id
penalty_player_name
penalty_yards
replay_or_challenge
replay_or_challenge_result
penalty_type
defensive_two_point_attempt
defensive_two_point_conv
defensive_extra_point_attempt
defensive_extra_point_conv

In [22]:
print("original dataset columns size %d\n" % nfl_data.shape[1])
print("after dropped cols with NaN columns size %d\n" % cols_with_NaN_dropped.shape[1])

original dataset columns size 255

after dropped cols with NaN columns size 50

In [34]:
subset_nfl_data = nfl_data.loc[:, 'epa':'total_away_raw_yac_wpa'].head()
subset_nfl_data

,epa,total_home_epa,total_away_epa,total_home_rush_epa,total_away_rush_epa,total_home_pass_epa,total_away_pass_epa,air_epa,yac_epa,comp_air_epa,...,comp_air_wpa,comp_yac_wpa,total_home_comp_air_wpa,total_away_comp_air_wpa,total_home_comp_yac_wpa,total_away_comp_yac_wpa,total_home_raw_air_wpa,total_away_raw_air_wpa,total_home_raw_yac_wpa,total_away_raw_yac_wpa
0,2.014474,2.014474,-2.014474,0.00000,0.00000,0.000000,0.000000,NaN,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.077907,2.092381,-2.092381,0.00000,0.00000,0.077907,-0.077907,-0.938735,1.016643,-0.938735,...,-0.028383,0.033038,-0.028383,0.028383,0.033038,-0.033038,-0.028383,0.028383,0.033038,-0.033038
2,-1.402760,0.689621,-0.689621,-1.40276,1.40276,0.077907,-0.077907,NaN,NaN,0.000000,...,0.000000,0.000000,-0.028383,0.028383,0.033038,-0.033038,-0.028383,0.028383,0.033038,-0.033038
3,-1.712583,-1.022962,1.022962,-1.40276,1.40276,-1.634676,1.634676,3.412572,-5.125156,0.000000,...,0.000000,0.000000,-0.028383,0.028383,0.033038,-0.033038,0.081542,-0.081542,-0.126463,0.126463
4,2.097796,1.074834,-1.074834,-1.40276,1.40276,-1.634676,1.634676,NaN,NaN,0.000000,...,0.000000,0.000000,-0.028383,0.028383,0.033038,-0.033038,0.081542,-0.081542,-0.126463,0.126463

In [35]:
subset_nfl_data.fillna(0)

,epa,total_home_epa,total_away_epa,total_home_rush_epa,total_away_rush_epa,total_home_pass_epa,total_away_pass_epa,air_epa,yac_epa,comp_air_epa,...,comp_air_wpa,comp_yac_wpa,total_home_comp_air_wpa,total_away_comp_air_wpa,total_home_comp_yac_wpa,total_away_comp_yac_wpa,total_home_raw_air_wpa,total_away_raw_air_wpa,total_home_raw_yac_wpa,total_away_raw_yac_wpa
0,2.014474,2.014474,-2.014474,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.077907,2.092381,-2.092381,0.00000,0.00000,0.077907,-0.077907,-0.938735,1.016643,-0.938735,...,-0.028383,0.033038,-0.028383,0.028383,0.033038,-0.033038,-0.028383,0.028383,0.033038,-0.033038
2,-1.402760,0.689621,-0.689621,-1.40276,1.40276,0.077907,-0.077907,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.028383,0.028383,0.033038,-0.033038,-0.028383,0.028383,0.033038,-0.033038
3,-1.712583,-1.022962,1.022962,-1.40276,1.40276,-1.634676,1.634676,3.412572,-5.125156,0.000000,...,0.000000,0.000000,-0.028383,0.028383,0.033038,-0.033038,0.081542,-0.081542,-0.126463,0.126463
4,2.097796,1.074834,-1.074834,-1.40276,1.40276,-1.634676,1.634676,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.028383,0.028383,0.033038,-0.033038,0.081542,-0.081542,-0.126463,0.126463

In [36]:
subset_nfl_data.fillna(method='bfill',axis=0).fillna(0)

,epa,total_home_epa,total_away_epa,total_home_rush_epa,total_away_rush_epa,total_home_pass_epa,total_away_pass_epa,air_epa,yac_epa,comp_air_epa,...,comp_air_wpa,comp_yac_wpa,total_home_comp_air_wpa,total_away_comp_air_wpa,total_home_comp_yac_wpa,total_away_comp_yac_wpa,total_home_raw_air_wpa,total_away_raw_air_wpa,total_home_raw_yac_wpa,total_away_raw_yac_wpa
0,2.014474,2.014474,-2.014474,0.00000,0.00000,0.000000,0.000000,-0.938735,1.016643,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.077907,2.092381,-2.092381,0.00000,0.00000,0.077907,-0.077907,-0.938735,1.016643,-0.938735,...,-0.028383,0.033038,-0.028383,0.028383,0.033038,-0.033038,-0.028383,0.028383,0.033038,-0.033038
2,-1.402760,0.689621,-0.689621,-1.40276,1.40276,0.077907,-0.077907,3.412572,-5.125156,0.000000,...,0.000000,0.000000,-0.028383,0.028383,0.033038,-0.033038,-0.028383,0.028383,0.033038,-0.033038
3,-1.712583,-1.022962,1.022962,-1.40276,1.40276,-1.634676,1.634676,3.412572,-5.125156,0.000000,...,0.000000,0.000000,-0.028383,0.028383,0.033038,-0.033038,0.081542,-0.081542,-0.126463,0.126463
4,2.097796,1.074834,-1.074834,-1.40276,1.40276,-1.634676,1.634676,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.028383,0.028383,0.033038,-0.033038,0.081542,-0.081542,-0.126463,0.126463

In [39]:
from scipy import stats
from mlxtend.preprocessing import minmax_scaling
import seaborn as sns
import matplotlib.pyplot as plt
np.random.seed(0)

ModuleNotFoundError: No module named 'mlxtend'

In [38]:
original_data = np.random.exponential(size=1000)
scaled_data = minmax_scaling(original_data, columns=[0])

fig,ax = plt.subplots(1,2)
sns.distplot(original_data, ax=ax[0])
ax[0].set_title("Original data")

sns.distplot(scaled_data, ax=ax[1])
ax[1].set_title("Scaled data")

NameError: name 'minmax_scaling' is not defined